<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305307018718-2buqdcnqbn5jsi69moc52km00rip3mlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305307018718-2buqdcnqbn5jsi69moc52km00rip3mlo</string>
	<key>API_KEY</key>
	<string>AIzaSyCDiepi9m1vHjPBN6fYjI1A6k_dB6tbirM</string>
	<key>GCM_SENDER_ID</key>
	<string>305307018718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sotatek.eduhk-cfs</string>
	<key>PROJECT_ID</key>
	<string>eduhk-cfs</string>
	<key>STORAGE_BUCKET</key>
	<string>eduhk-cfs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305307018718:ios:28dc30bbfa6ad454b6e94f</string>
</dict>
</plist>